
.main {
    margin: 1.5em;
    min-height: 100vh;
}

.intro {
    text-align: center;
    font-size: 4vmin;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-self: center;
}

.button {
    display: flex;
    justify-content: center;
}

.loading {
    text-align: center;
    font-size: 4vmin;
}






