
.movie-posters {
    display: flex;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.movie-posters::-webkit-scrollbar {
    display: none;
}

.movie-poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 400ms;
}

.movie-poster:hover {
    transform: scale(1.08);
}

.movie-posterLarge {
    max-height: 250px;
}

.movie-posterLarge:hover {
    transform: scale(1.09);
}

.movie-description {

}