.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    object-fit: contain;
    widt: 100%;
    max-height: 100%;
    margin: 20px 20px 20px 20px;
    transition: transform 450ms;
}

.row_poster:hover {
    transform: scale(1.12);
}


.tile {
    width: 250px;
    max-height: 300px;
    padding: 50px;
    border: 5px solid #f2f2f2;;
}

.movie-contents {

}

.title {
    position: center;
    /*padding: 2px;*/
    overflow-y: hidden;
    overflow-x: hidden;
}

.movie-posters {
    /*display: flex;*/
    padding: 20px;

}

.movie-poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 400ms;
}

.movie-poster:hover {
    transform: scale(1.08);
}

.movie-posterLarge {
    max-height: 250px;
}

.movie-posterLarge:hover {
    transform: scale(1.09);
}

.movie-description {
    object-fit: contain;
    width: 100%;
}

.movie-button {

}


