.row-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /*flex-basis: content-box;*/
}

.tile {
    width: 300px;
    height: 350px;
    border: 20px solid #00627C;
    margin: 15px 15px 15px 15px;
}

.title {
    margin: 1px;
    text-align: center;
    padding-top: 15px;

}

.row-poster {
    width: 100%;
    max-height: 85%;
    object-fit: scale-down;
    transition: transform 450ms;
    overflow-y: hidden;
    overflow-x: scroll;
}

.row-poster:hover {
    transform: scale(1.20);
}

.one_person {
    /*border-color: white;*/
}


.row-posters {
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    margin: 20px 20px 20px 20px;
    transition: transform 450ms;
}

.row_poster:hover {
    transform: scale(1.12);
}


.movie-posters {
    display: flex;
    padding: 20px;
}

.movie-poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 400ms;
}

.movie-poster:hover {
    transform: scale(1.08);
}

.movie-posterLarge {
    max-height: 250px;
}

.movie-posterLarge:hover {
    transform: scale(1.09);
}

.movie-description {
    object-fit: contain;
    width: 100%;
}




