.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin: 30px;
}

.tile {
    width: 300px;
    height: 360px;
    border: 20px solid #00627C;
}

.title {
    margin: 1px;
    text-align: center;
    padding-top: 15px;
}

.row-poster {
    flex-basis: 100%;
    width: 100%;
    max-height: 80%;
    object-fit: scale-down;
    transition: transform 360ms;
    /*overflow-y: hidden;*/
    /*overflow-x: scroll;*/
}

.row-poster:hover {
    transform: scale(1.20);
}

/*.one_person {*/
/*    border-color: white;*/
/*}*/

.row-posters {
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row-posters::-webkit-scrollbar {
    display: none;
}

/*.row_poster {*/
/*    object-fit: contain;*/
/*    width: 100%;*/
/*    max-height: 100%;*/
/*    margin: 20px 20px 20px 20px;*/
/*    transition: transform 450ms;*/
/*}*/

.row_poster:hover {
    transform: scale(1.12);
}


.movie-posters {
    display: flex;
    padding: 20px;
}

.movie-poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 400ms;
}

.movie-poster:hover {
    transform: scale(1.08);
}

.movie-posterLarge {
    max-height: 250px;
}

.movie-posterLarge:hover {
    transform: scale(1.09);
}

.movie-description {
    object-fit: contain;
    width: 100%;
}


@media (min-width: 375px) {

    .tile {
        width: 195px;
        height: 276px
    }

    .row-poster {
        height: 75%;
        contain: layout;
    }
}

@media (min-width: 1040px) {

    .tile {
        padding-top: 5px;
        width: 236px;
        height: 335px;

    }
}

@media (min-width: 1920px) {

    .tile {
        width: 275px;
        height: 360px;
        border: 30px;
    }

    .row-poster {
        padding-top: 8px;
        height: 75%;
        contain: layout;
    }
}

@media (max-device-width:  2560px) {

    .tile{
        border: 25px solid #00627C;
    }
}





