.button {
    display: flex;
    flex-direction: column;
    outline: none;
    background-color: var(--clr-yellow-500);
    padding: 1em;
    border: 0.0625em solid transparent;
    border-radius: 1000em;
    color: var(--clr-blue-700);
    align-self: center;
}

.button:hover {
    text-decoration: none;
    border: 0.0625em solid var(--clr-white-100);
    color: var(--clr-white-100);
}
