.article {
    margin-top: 10px;
}

.title {
    display: flex;
    margin-bottom: 5px;
    text-decoration: underline;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /*flex: 1 1 100%;*/
}

p {
    margin: 0 0 1px 0;
}

@media (min-width: 375px) {
    .text {
        font-size: x-small;
    }
}

@media (min-width: 960px) {
    .text {
        font-size: large;
    }
}

@media (min-width: 1920px) {
    .text {
        display: flex;
        margin-top: auto;
        font-size: xx-large;
    }
}

