.home {
    margin-top: 1px;
    min-height: 100vmin;
}

.intro {
    text-align: center;
}

.title {
    margin: 1rem;
    font-size: 1.2rem;
    text-decoration: underline;
}

.main {
    font-size: 0.8rem;
}

.paragraph {
    margin-top: -1.6em;
    font-size: 0.5rem;
}

.banner-button {
    margin: 1em;
    display: flex;
    justify-content: center;
}


@media only screen and (min-width: 1020px) {

    .title {
        font-size: 3rem;
    }

    .main {
        font-size: 1.5rem;
    }

    .paragraph {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1920px) {

    .title {
        font-size: 4rem;
    }

    .main {
        font-size: 2rem;
    }

    .paragraph {
        font-size: 1.4rem;
    }

}

@media only screen and (min-width: 2048px) {

    .title {
        font-size: 6rem;
    }

    .main {
        font-size: 3rem;
    }

    .paragraph {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 3084px) {

    .title {
        font-size: 10rem;
    }

    .main {
        font-size: 5rem;
    }

    .paragraph {
        font-size: 3.5rem;
    }

}

