.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #CD6D06;
    padding: 10px;
    align-items: center;
}


.navbar-logo {
    width: 50px;
    /*object-fit: cover;*/
    /*padding-right: 20px;*/
    /*background: none;*/
}

.links {
    margin-left: auto;
    background: none;
}


.navbar a {
    text-decoration: none;
    background-color: #C89028;
    object-fit: contain;
    margin: 5px 1px 5px 16px;
    padding: 1px 20px 1px 20px;
    border-left-width: 12px;
    border-right-width: 12px;
    border-radius: 100px;
    color: #00627C;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: none;
    font-weight: normal;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
}

@media (min-width: 375px) {
    /*.navbar {*/
    /*  flex-direction: column;*/
    /*}*/
}

