.navbar {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: orange;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
}

.navbar-logo {
    width: 40px;
    object-fit: contain;
    padding-right: 20px;
    background: none;
}

.title {
    color: #285f79;
    margin-left: auto;
    background: none;
}

.links {
    margin-left: auto;
    background: none;
}


.navbar a {
    object-fit: contain;
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    border: 1px solid #f2f2f2;
}

.navbar a:hover {
    color: #f1356d;
    border-radius: 50%;
}

.private-links {
    background: none;
}

.public-links {
    background: none;
}


/*@media screen and (min-width: 320px) {*/
/*    .navbar {*/
/*        width: 100%;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        flex-wrap: nowrap;*/
/*        align-items: flex-start;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 557px) {*/
/*    .navbar {*/
/*        width: 100%;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        flex-wrap: wrap;*/
/*        align-items: flex-start;*/
/*    }*/
/*}*/
