.navbar {
    margin: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5vmin;
    background-color: #CD6D06;
    align-items: center;
}

.navbar-logo {
    width: 8vmin;
}

.links{
    display: flex;
}

.navbar a {
    font-size: 3vmin;
    text-decoration: none;
    margin: 0 3vmin;
    padding: 0.2vmin 5vmin;
    background-color: #C89028;
    border: 0.1vmin solid transparent;
    border-radius: 1000px;
    color: #00627C;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: none;
    border: 0.1vmin solid #f2f2f2;
    color: #f2f2f2;
}


