
.container {
    display: flex;
    flex-direction: column;
}

.label {

}

.input {
    border: white;
    text-align: center;
    width: 200px;
    color: black;
}

::-webkit-input-placeholder { /*edge*/
    color: black;
    justify-self: center;
    text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    text-align: center;
}

::placeholder {
    color: black;
    text-align: center;
}