.tile {
    width: 300px;
    height: 350px;
    border: 20px solid #00627C;
    margin: 15px 15px 15px 15px;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tile{
    position: absolute;
    z-index: -1;
}

