.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loading__text {
    font-size: 5vmin;
    align-self: center;
}

.loading__image {
    width: 300px;
    align-self: center;
}


