:root {
    --clr-black-900: #000000;
    --clr-white-100: #FFFFFF;
    --clr-grey-500: #505050;
    --clr-yellow-500: #C89028;
    --clr-orange-700: #CD6D06;
    --clr-blue-300: #00627C;
    --clr-blue-700: #05303D;
}

*::before,
*::after {
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
}

body {
    margin: 0;
    background-color: var(--clr-black-900);
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    padding: 0.3125em;
    background-color: var(--clr-blue-300);
    color: #C89028;
    text-align: center;
    font-size: 4vmin;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 0 1%;
}

.footer {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-self: flex-end;
    background-color: #CD6D06;
    font-size: 0.5vmin;
    margin-top: auto;
}

.sponsor {
    background-color: #00627C;
    text-align: center;
    padding: 1em;
}

.logo-tmdb {
    border-radius: 1000px;
    padding: 1em 3.5em;
    margin: 0.5em;
    background-color: #000000;
    width: 30vmin;
}

.disclaimer {
    margin: 0;
    color: black;
    font-size: 2.2vmin;
}

.contact {
    background-color: #C89028;
    font-size: 2vmin;
    font-weight: bold;
    color: #00627C;
    text-align: center;
    border-radius: 1000px;
    padding: 0.125em 1.25em;
    margin: 0.5em 5em;
}
