
body {
    margin: 0px;
    background-color: #000000;
}

.page-wrapper {
    display: flex;
    width: 100%;
    height: 100vh; /* We can assume that the container's height is hardcoded in this example, but the end solution should work even if this value is changed*/
    border: 1px black;
    justify-content: center;
    flex-direction: column;
}

.page-items {
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.content {
    background-color: #000000;
    flex: 1;
}

.content::-webkit-scrollbar {
    display: none;
}

text {
    margin-bottom: 1px;
}

.title {
    margin: 0;
    padding: 5px;
    background-color: #00627C;
    color: #C89028;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    max-height: 100%;
    background-color: #CD6D06;
}

.contact {
    background-color: #C89028;
    font-weight: bold;
    color: #00627C;
    align-self: center;
    border-left-width: 12px;
    border-right-width: 12px;
    border-radius: 100px;
    padding: 2px 20px 2px 20px;
    margin: 15px;
}

.sponsor {
    background-color: #00627C;
    text-align: center;
}

.logo-tmdb {
    border-left-width: 12px;
    border-right-width: 12px;
    border-radius: 100px;
    padding: 2px 20px 2px 20px;
    margin-top: 10px;
    background-color: #000000;
}

.disclaimer {
    margin: 0;
    color: black;
    padding-bottom: 3px;
}


@media only screen and (min-width: 375px) {

    .title {
        font-size: x-large;
    }

}

@media only screen and (min-width: 1240px) {

    .tile {
        padding-top: 5px;
        width: 236px;
        height: 335px;
    }

    .content {
        overflow-y: scroll;
    }

}

@media only screen and (min-width: 1240px) {

    .tile {
        padding-top: 5px;
        width: 236px;
        height: 335px;
    }

}

@media only screen and (min-width: 1920px) {

    .tile {
        width: 275px;
        height: 360px;
        border: 30px;
    }

    .row-poster {
        padding-top: 8px;
        height: 75%;
        contain: layout;
    }

}
