
body {
    margin: 0;
}

.app {
    z-index: -2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    background-color: #000000;
}

.title {
    margin: 0;
    padding: 5px;
    background-color: #00627C;
    color: #C89028;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    background-color: #CD6D06;
}

.contact {
    background-color: #C89028;
    font-weight: bold;
    color: #00627C;
    align-self: center;
    border-left-width: 12px;
    border-right-width: 12px;
    border-radius: 100px;
    padding: 2px 20px 2px 20px;
}

.sponsor {
    background-color: #00627C;
    text-align: center;
}


.logo-tmdb {
    border-left-width: 12px;
    border-right-width: 12px;
    border-radius: 100px;
    padding: 2px 20px 2px 20px;
    margin-top: 10px;
    background-color: #000000;
}

.disclaimer {
    margin: 0;
    color: black;
    padding-bottom: 3px;
}


/*@media only screen and (min-width: 320px) and (max-width: 1024px) {*/
/*    html, body {*/
/*        position: relative;*/
/*    }*/
/*}*/
